<h1 id='guide-heading'>Welcome to Peach Cram</h1>

<h3>Instructions</h3>
<ol>
<li>Drag the square knob on the radio with your mouse to choose the level.</li>
<li>There are four levels, level one being having little workload to level four having the most workload.</li>
<li>Press play button on the bottom</li>
<li>Wait for the song to play!</li>
</ol>
<h3>Channel Guide</h3>
<p>level 1 plays songs with fastest BPM to get work done quickly</p>
<p>level 4 plays songs with slowest BPM to work in the pace where user can study for a long time</p>