<div id="radio">
  <label for="amount">PeachCram Radio</label>
  <br>
  <input type="text" id="cram-amt" readonly />
  <br><br><br><br><br><br><br><br><br>
  <div id="slider"></div>
  <br><br><br><br><br>
  <br><br><br><br><center>
  <button id="playBtn">PLAY</button>
  <br>
  <br>
</div>

<div id="ytapiplayer" class="hideBox">
</div>









