#cram-amt {
  border:0;
  color:#f6931f;
  font-weight: bold;
}


#guide-page-box > * {
  color:white;
  font-weight: lighter;
  font-family: 'Lato', sans-serif;
}

#guide-page-box h1{
  font-size: 22px;
  font-family: 'Lato', sans-serif;
  font-weight:bolder;
  font-style: italic;
;}


